body {    
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased;    
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'Sullivan';
  src: url('fonts/Sullivan-Fill.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/Sullivan-Fill.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir.ttc') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/Avenir.ttc') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

h1 {
    font-family: 'Sullivan', helvetica, arial, sans-serif;
    font-weight:700;
    text-align:center;
    text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 60px;
    line-height:80px;
    margin:0px;
    padding:0px;
}

h2 {
    font-family: 'Sullivan', helvetica, arial, sans-serif;
    font-weight:500;
    text-align:center;
    text-transform: uppercase;
	font-size: 30px;
    line-height:72px;
    margin:0px;
    padding:0px;
    color: #b91a20;
}

h3 {
    font-family: 'Sullivan', helvetica, arial, sans-serif;
    font-weight:500;
    text-align:center;
    text-transform: uppercase;
	font-size: 45px;
    line-height:54px;
    margin:0px;
    padding:0px;
}

h4 {
    font-family: 'Sullivan', helvetica, arial, sans-serif;
    font-weight:700;
    text-align:center;
    text-transform: uppercase;
	font-size: 16px;
    line-height:27px;
    margin:0px;
    padding:0px;
}

a {
    color:#373883;
}

a:hover {
    color:#373883;
}

a > b,
a:hover > b {
color:#c8ac61;
}

p {
	font-family: 'Avenir', arial, helvetica, sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	margin-top: 25px;
}

blockquote p {
    font-family: 'Merriweather', serif;
    font-weight:200;
    text-align:center;
    font-size: 24px;
    line-height:36px;
    margin:0px;
    padding:0px;
    opacity:1;
}

blockquote  {
    margin:0px;
    padding:0px;
}

.tlt  {
    font-family: 'Sullivan', sans-serif;
    font-weight:500;
    text-align:center;
    text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 96px;
    line-height:.05em;
    margin:0px;
    padding:0 20px;
    color:white;
    text-shadow: 0px 2px 10px #000;
}

.tlt > .texts {
	line-height: 1em;
	list-style: none;
}

.main-section {
	padding: 75px 0;
}

.main-section ul {
	font-family: 'Avenir', arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin: 25px 0 0 170px;
}

.landing-play-btn {
	background: url(../images/white-play-btn.png);
	background-size: 100%;
	display: block;	
	height: 6em;
	width: 6em;
	margin: 0 auto;
	position: relative;
	top: -4em;
	cursor: pointer;
}




/* //TYPOGRAPHY */

/*##################################################################*/
/* NAVIGATION - Desktop ############################################*/
/*##################################################################*/

nav {
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #D1D1D1;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(23, 23, 23, 0.24);
	box-shadow: 0px 1px 0px 0px rgba(23, 23, 23, 0.24);
	z-index: 200;
	text-align: center;
	border-bottom: 1px solid #3e3e3e;
}

#navigation ul li#logo {
	padding: 0px;
	position: relative;
	width: auto;
	margin: 0;
	margin-right: 50px;
	top: -30px;
}

#logo.mobile-logo {
    display: none;
    width: 50%;
    float: left;
}

nav #logo a {
    outline: none;
    margin-left: 0;
}

nav.sticky {
	position: fixed;
	top: 0;
}


#navigation {
    float:right;
	width: 100%;
	text-align: center;
	margin: 0 auto;    
}

#navigation ul {
    float:right;
    list-style: none;
}

#sections {
	margin: 15px 0 auto;
	display: inline-block;
	width: 100%;
	text-align: center;	
}

#navigation ul li {
	top: -30px;
	margin-right: 60px;
	display: inline-block;
	position: relative;
}

#navigation ul li:last-child {
	margin-right: 0;
}

#navigation a {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
	position: relative;
	display: inline-block;
	outline: none;
	color: #6e6e6e;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0,5px;
	font-size: 13px;
    margin-top:15px;
}

#navigation a:hover,
#navigation a:focus {
	outline: none;
}

#navigation a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

#navigation a:focus::before,
#navigation a:hover::before
{
	color: #373883;
	
}

#navigation a:hover,
#navigation a:focus {
	color: #373883;
}

#sections a {
    color: #373883;
	font: 16px 'Avenir', arial, helvetica, sans-serif;
}

/* //NAVIGATION - Desktop*/

/*##################################################################*/
/* NAVIGATION - Mobile ############################################*/
/*##################################################################*/

.cbp-spmenu {
	background: #3c3f41;
	position: fixed;
    width: 240px;
	height: 100%;
	top: 0;
	z-index: 3000;
    left: -240px;
    text-align:center;
}

.cbp-spmenu h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight:700;
	color: #2d2e30;
	font-size: 20px;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #3c3f41;
}

.cbp-spmenu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight:700;
	display: block;
	color: #fff;
	font-size: 15px;
    border-bottom: 1px solid #434546;
	padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cbp-spmenu a:hover {
	background: #2d2e30;
}

.cbp-spmenu a:active {
	background: #2d2e30;
	color: #8d9b9f;
}

.cbp-spmenu.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#navigation_mobile {
	position: absolute;
	display: inline-block;
	right: 20px;
	top: -15px;
}

#cbp-spmenu ul{
    list-style: none;
    padding-left:0px;   
}

#showLeft {
    float:right;
    margin-top:19px;
}

.button_nav {
	background-color:#ffffff;
	-webkit-border-top-left-radius:100px;
	-moz-border-radius-topleft:100px;
	border-top-left-radius:100px;
	-webkit-border-top-right-radius:100px;
	-moz-border-radius-topright:100px;
	border-top-right-radius:100px;
	-webkit-border-bottom-right-radius:100px;
	-moz-border-radius-bottomright:100px;
	border-bottom-right-radius:100px;
	-webkit-border-bottom-left-radius:100px;
	-moz-border-radius-bottomleft:100px;
	border-bottom-left-radius:100px;
	text-indent:0;
	border:2px solid #0071aa;
	display:inline-block;
	color:#0071aa;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:auto;
	width:auto;
	text-decoration:none;
	text-align:center;
    padding:5px;
    padding-top:8px;
    width:39px;
    outline: none;
    margin-bottom: 30px;	
}

.button_nav:hover {
	background-color:#f7f9fa;
}

.button_nav:active {
	position:relative;
	top:1px;
}

.button_nav.md-close {
	position: absolute;
	left: 0;    
	top: 0;	
}

/* //NAVIGATION - Mobile*/

/*##################################################################*/
/* HOME ############################################################*/
/*##################################################################*/

#home {
	height: 700px;
	width: 100%;
	top: 80px;
	background-color: #FFF;
	background-image: url(../images/home-bg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow-y: hidden;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

#home h1, #home blockquote, #team p, #awards p {
    color:white;
}
#home blockquote {
    margin-top:165px;
}

/* Button Learn More */

.btn {
	border: none;
	font-family: 'Montserrat', sans-serif;
    font-weight:400;
	font-size: 14px;
	color: white;
	background: none;
	cursor: pointer;
	padding: 17px 35px;
	display: inline-block;
	margin: 100px 0px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    z-index:90;
    opacity:0;
}

.anim {
    margin-top: 60px;
    opacity:1;    
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before {
	font-family: 'unicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-arrow:before {
	content: "\e096";
}

.btn-arrow {
    border-radius: 50px;
	border: 2px solid #fff;
	color: #fff;
	background: rgba(158, 141, 162, 0.8);
	overflow: hidden;
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-arrow:active {
	background: #373883;
	top: 2px;
}

.btn-arrow span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-arrow:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-arrow:active:before {
	color: #004a70;
}

.btn-arrowb:hover span {
	-webkit-transform: translateY(200%);
	-moz-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
}

.btn-arrowb:before {
	left: 0;
	top: -100%;
}

.btn-arrowb:hover:before {
	top: -2px;
}
/* //Button Learn More */


/*##################################################################*/
/* MISSION ###########################################################*/
/*##################################################################*/

#mission {
    background-color:white;
    display:block;
    position:relative;
    z-index:120;
    text-align:center;
}

#mission blockquote p, #about p {
    color:#4c4c4c;
}

#mission blockquote p {
    margin-top:36px;
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);    
}


/*##################################################################*/
/* Offerings #########################################################*/
/*##################################################################*/


#offerings {
    width:100%;
    background-color: white;
    /*background-image: url(../images/offerings_bg.jpg);*/
    background-position:top;
    background-repeat:no-repeat;
}

#offerings h3 {
    color:#4c4c4c;
    margin-bottom:80px;    
}

#offerings .client_logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 90%;
}

#offerings .client-logo {
	margin: 10px;
	text-align: center;
	height: 8em;
	width: 12em;
	border-style: solid;
	border-width: 4px;
	border-color: #D2D2D2;
	background: #F2F6F9;
}

#offerings .client-logo:before {
	height: 100%;
	content: '';
	vertical-align: middle;
	display: inline-block;
}

.offerings-list {
	margin-top: 44px;
	text-align: center;
	display: inline-block;
}

.offerings-spotlight {
	padding-top: 80px;
}

.offerings-spotlight-item {
position: relative;
margin-bottom: 80px;
}

.offerings-spotlight-item:last-child {
position: relative;
margin-bottom: 0;
}

.offerings-spotlight-item:nth-child(2n-1) {
	padding-left: 18%;
}

.offerings-spotlight-item:nth-child(2n) {
	padding-right: 18%;
}

.offerings-spotlight-item:before {
display: block;
position: absolute;
content: '';
height: 150px;
width: 154px;
}

.offerings-spotlight-item:nth-child(2n-1):before {
	left: 0;
}

.offerings-spotlight-item:nth-child(2n):before {
	right: 0;
}

.offerings-spotlight-item p {
text-align: left;
margin: 0;
font-size: 16px;
}

.seminars:before {
background: url(../images/spotlight-seminars.jpg) no-repeat;
background-size: 100%;
}

.boot:before {
background: url(../images/spotlight-boot.jpg) no-repeat;
background-size: 100%;
}

.emerging:before {
background: url(../images/spotlight-emerging.jpg) no-repeat;
background-size: 100%;
}

.operational:before {
background: url(../images/spotlight-operational.jpg) no-repeat;
background-size: 100%;
}


/*##################################################################*/
/* services ########################################################*/
/*##################################################################*/

.tab-set {
	margin-top: 35px;
}

#services,
#team {
    padding-top: 110px;
    padding-bottom: 50px;
    background-color:white;
    background-image: url(../images/services_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display:block;
    position:relative;
    z-index:120;
    padding-top:90px;
    text-align:center;      
}

#services h2,
#team h2,
#awards h2 {
	color: white;
}

#services p {
	color: white;
}

#services_boxes {
    margin-top:100px;
}

#services_boxes ul {
	list-style:none; /* removes the default bullet */
	padding-left: 20px;    
    text-align:left;
    width:250px;
    margin: 0 auto;
    color:white;    
}

#services_boxes ul li {
    position: relative;
    line-height: 35px;
    padding-left: 10px;    
}

#services_boxes ul li:before {
    position: absolute;
    font-family: 'unicons';
    font-size:18px;
    vertical-align: bottom;
    top:7px;
    margin: 0 0px 0 -30px;      
}

#services_boxes li:before {
    content: "\e049";
}

#services_boxes li:before, #services_boxes li:after {
    color: white;
    padding-right:10px;        
}

.services_box {
    margin-bottom:60px;        
}

.animbox {
	border: none;
	font-family: 'Montserrat', sans-serif;
    font-weight:400;
	font-size: 14px;
	color: #6e6e6e;
	background: none;
	cursor: default;
	padding: 17px 35px;
    width: 100%;
	display: inline-block;
	margin: 30px 10px 0;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    z-index:90;    
}

.animbox:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.animbox:before {
	font-family: 'unicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-design:before {
	content: "\e066";
    margin-top:1px;
}

.icon-develop:before {
	content: "\e07b";
    margin-top:4px;
}

.icon-print:before {
	content: "\e08a";
}

.animbox-icon {
    border-radius: 0px;
	border: 2px solid #6e6e6e;
	color: #6e6e6e;
	overflow: hidden;
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.animbox-icon span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.animbox-icon:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#registry .animbox-icon {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	
}

#registry .animbox-icon:hover {
	cursor: pointer;
	background: #fff;
}

.service_box:hover .animbox-iconb span {
	-webkit-transform: translateY(200%);
	-moz-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
}

.animbox-iconb:before {
	left: 0;
	top: -100%;
}

.service_box:hover .animbox-iconb:before {
	top: -2px;
}

.tab-body.active {
display: block;
}
.tab-body {
background: rgba(210, 210, 210, 0.7);
padding: 20px;
display: none;
float: left;
width: 100%;
}

.tab-set p {
	color: #FFF;
	text-align: left;
	margin: 0;
}

.tab-heading {
width: 100%;
padding: 0;
float: left;
margin: 0;
}

.heading-item.active {
background: rgba(210, 210, 210, 0.7);
border: none;
padding-bottom: 21px;
color: #2A2B59;
}

.heading-item {
float: left;
list-style: none;
font: bold 18px 'montserrat', arial, sans-serif;
text-transform: uppercase;
padding: 20px;
border-left: 1px solid rgba(255, 255, 255, 0.4);
border-right: 1px solid rgba(255, 255, 255, 0.4);
border-top: 1px solid rgba(255, 255, 255, 0.4);
color: #FFF;
cursor: pointer;
}

.heading-item:nth-of-type(2n) {
	border-left: none;
	border-right: none;
}

.heading-item:last-child {
	border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.tab-item-list {
	float: left;
	padding: 0;
	list-style: none;
	margin: 30px 30px 30px 0;
}

.tab-item-list > li {
	text-align: left;
	padding-left: 25px;
}

.tab-item-list > li:before {
	content: '';
	display: block;
	border-bottom: 3px solid #F8FAFB;
	width: 15px;
	font-size: 16px;
	left: -25px;
	position: relative;
	top: 10px;
}
/*##################################################################*/
/* PORTFOLIO #######################################################*/
/*##################################################################*/

#folio, #reception, #registry, #clients, #awards {
    margin-top:2px;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color:white;
    display:block;
    position:relative;
    z-index:120;
    text-align:center;      
}

#folio p {
    margin-bottom: 30px;
}

#folio .heading-item {
	margin-right: 75px;
}

#folio .heading-item:last-child {
	margin-right: 0;
}

.brdr-box {
	float: left;
	border: 1px solid #d2d2d2;
	width: 100%;
	padding: 10px;
}

#folio .heading-item a {
	color: #2a2b59;
}

.heading-item.active a {
	color: #2a2b59;
}

.one-third {
	margin: 10px 10px 0 0;
	float: left;
}

.one-third:nth-of-type(3n) {
	margin-right: 0;
}

.project-item {
	float: left;
	width: 301px;
	height: 270px;
}

.project-item img {
	display: block;
	position: relative;
	max-width: 100%;
}

.project-item .project-image {
	list-style: none;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	border: medium double #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.project-image .overlay {
	background: #FFF;
	background-color: rgba(4, 176, 255, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	border: 15px solid rgba(255, 255, 255, 0);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}

.grid {
	max-width: 75em;
	list-style: none;
	margin: 40px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.project-item a,
.project-item img {
    padding:0px;
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
    cursor: pointer;
    background-color:white;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;    
}

/* Appearing effect */
.project-item.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}

.project-image:hover {
    opacity:0;    
}

.project-copy {
	position: absolute;
	top: 0;
	z-index: -1;
}

/*##################################################################*/
/* Awards #######################################################*/
/*##################################################################*/

#awards {
	background: url('../images/awards_bg.jpg') center -170px repeat-x;
	min-height: 390px;
}

#awards_table {
	margin-bottom: 40px;
}

.awards-logo {
	background: #FFF;
	width: 150px;
	height: 90px;
	border: 4px solid #D2D2D2;
	padding-top: 5px;
}

.awards-logo p {
	color: #343434;
	font: bold 18px 'lato', sans-serif;
	vertical-align: middle;
}

#awards_table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 700px;
	border: 1px solid #CFCFCF;	
}

/*##################################################################*/
/* Modal Box #######################################################*/
/*##################################################################*/

.md-modal {
    position:fixed;
    top: 20px;
	left: 0;
	width: 100%;
	min-width: 320px;
	height: auto;
    z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	background: rgba(255, 255, 255, 0.9);
}
 
.md-show {
    visibility: visible; 
}

.md-content {
    padding-top:40px;
    text-align:center;
    overflow-y:scroll;    
}

.md-content img {
    width:70%;
    max-width:1000px;
    margin:0 auto;
    display:block;
    height:auto;
}

.md-content h3 {
    width:70%;
    max-width:700px;
    margin-bottom:30px;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    padding-right:10px;
    padding-left:10px;    
}

.md-content p {
    margin-bottom:30px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    max-width:700px;
    padding-right:10px;
    padding-left:10px;   
	padding-bottom: 30px;
	overflow-y: auto;    
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
 
.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-effect-1 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 ~ .md-overlay {
	background: white;
} 

.md-effect-1 .md-content h3,
.md-effect-1 .md-content {
	background: transparent;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.videoWrapper {
	position: relative;	
}

.videoWrapper iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
    max-width:800px;    
}

.video{
    width:70%;
    max-width:800px;
    margin: 0 auto;
    padding-left:20px;
    padding-right:20px;
}

.video iframe {
    border:0;
}


/*##################################################################*/
/* TEAM ############################################################*/
/*##################################################################*/

#team {
    padding-top: 110px;
    padding-bottom: 90px;
    background-color: #1874a7;
    background-image: url(../images/team_bg.jpg);
    background-position: center;
    background-repeat:repeat;
    display:block;
    position:relative;
    z-index:120;
    padding-top:90px;
    text-align:center;      
}

#team h2, #team h4, #team p {
    color:white;   
}    

#team p {
    margin-top:0px;
    margin-bottom:0px;
}   

.member_photo {
	width: 140px;
	height: 140px;
	margin: 60px auto;
	margin-bottom: 30px;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	transition: all .7s;
	opacity: 1;
	background: #333;
	-webkit-filter: grayscale(100%);   
	filter: grayscale(100%);     	
}

.team_box:hover .member_photo {
    width: 160px;
    height: 160px;
    margin-bottom:50px;
    margin-top:50px;
	-webkit-filter: grayscale(0%);   
	filter: grayscale(0%);   
	cursor: pointer;
}

.border {
	border: 2px dashed rgba(255, 255, 255, .5);
}

.bridesmaids {
	margin-bottom: 80px;
}


/*##################################################################*/
/* CONTACT #########################################################*/
/*##################################################################*/


/*
#contact {
    margin-top:2px;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color:white;
    display:block;
    position:relative;
    z-index:120;
    text-align:center;      
}
*/

#contact p {
    margin-bottom: 30px;
}


/* Send Button */

.btn-blue {
	border: none;
	font-family: 'Montserrat', sans-serif;
    font-weight:400;
	font-size: 14px;
	color: blue;
	background: none;
	cursor: pointer;
	padding: 17px 35px;
	display: inline-block;
	margin: 0px;
    width:100%;
    max-width: 300px;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    z-index:90;
    opacity:1;
}

.btn-blue:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    
}
.btn-blue:before {
	font-family: 'unicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
    margin-top:2px;
	-webkit-font-smoothing: antialiased;
}

.icon-mail:before {
	content: "\e053";
    
}

.btn-send {
    border-radius: 50px;
	border: 2px solid #373883;
	color: #373883;
	overflow: hidden;
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-send:active {
	background: #373883;
	top: 2px;
}

.btn-send span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-send:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-send:active:before {
	color: #004a70;
}

.btn-sendb:hover span {
	-webkit-transform: translateY(200%);
	-moz-transform: translateY(200%);
	-ms-transform: translateY(200%);
	transform: translateY(200%);
}

.btn-sendb:before {
	left: 0;
	top: -100%;
}

.btn-sendb:hover:before {
	top: -2px;
}

/* Banner */

.banner {
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.banner:after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 80%;
	border-right: 1px solid #FFF;
	right: 45px;
	top: 30px;	
}

.banner-1 {
	background: url(../images/banner-1.jpg) no-repeat;
	background-size: 100%;
}

.banner-2 {
	background: url(../images/banner-2.jpg) no-repeat;
	background-size: 100%;
}

.banner-3 {
	background: url(../images/banner-3.jpg) no-repeat;
	background-size: 100%;
}

.banner h4 {
	float: right;
	color: #FFF;
	font: 3em 'Sullivan', sans-serif;
	font-weight: 500;
	width: 60%;
	text-align: right;
	margin: 70px 100px;
}

.banner-2:after, .banner-4:after {
	left: 45px;
}

.banner-2 h4 {
	float: left;
	text-align: left;
}

.bio-content {
float: left;
border: 3px solid #E4E4E4;
margin: 30px 0;
padding: 60px 0;
}

.bio-content.thomas {
clear: both;
background: url(../images/thomas.jpg) no-repeat 100% 100%;
background-size: 45%;
}

.bio-content.kevin {
clear: both;
background: url(../images/kevin.jpg) no-repeat 0 100%;
background-size: 45%;
}

.bio-content h3 {
float: left;
text-align: left;
width: 100%;
}

.bio-content h5 {
	float: left;
	font: 300 16px 'Avenir', helvetica, arial, sans-serif;
	margin: 6px 0;
}

.bio-content p {
	float: left;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	width: 50%;
}

.bio-content.kevin p,
.bio-content.kevin h3,
.bio-content.kevin h5 {
	float: right;
	text-align: right;
}

/* Contact Form */

#contact form {
    margin-top: 40px;
}

#contact form input[type="text"],
#contact form input[type="email"]{
    width: 100%;
    max-width: 300px;
    height: 57px;
    margin-bottom: 20px;
    padding: 0 20px;
    border-style: solid;
    border-color:#d2d2d2;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    text-align:left;
	font-size: 14px;
    line-height:25px;    
}

.layout-control-group {
	padding-bottom: 20px;
}

#alert {
    padding:20px;
    margin-bottom:20px;
    margin-top:20px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#message {
    display: none;
}

#message ul.unordered {
    padding: 0;
}

#message ul.unordered li {
    padding: 0 0 0 20px;
}
#message ul.unordered li p {
    padding: 3px 0;
    margin: 0;
}

#message .alert-danger p {
    color: #B94A48;
}

.contact_info {
    margin-top: 70px;
    padding-bottom: 60px;
}

.contact_details span{
    color: #d2d2d2;
    font-size:30px;    
}
.contact_details p{
    margin-top:60px;
    padding-bottom: 70px;
}

#contact .img-responsive {
	display: block;
	position: relative;
}

#contact .email.img-responsive {
	float: right;
}

#contact .img-responsive:before {
	content: '';
	display: block;
	background: url('../images/contact-icons.png');
	width: 25px;
	height: 32px;
	margin: 0 auto;
}

#contact .phone.img-responsive:before {
	background-position: -24px 0;
}

#contact .email.img-responsive:before {
	background-position: -50px 0;
	width: 34px;
}

#contact .social.img-responsive:before {
	background-position: -84px 0;
	width: 35px;
}

#contact .email p {
	font-size: 14px;
}

#contact .social p {
	float: left;
	margin-left: 30px;
}

.social-icon {
	background: url('../images/social-icons.png') no-repeat;
	width: 16px;
	height: 16px;
	float: left;
}

.vimeo {
	background-position: -51px 0;
}

.linkedin {
	background-position: -34px 0;
}

.twitter {
	background-position: -17px 0;
}

/* Registry */

#registry {
	background: #373883;
}

/* Social Icons */

.social_icons {
    text-align:center;
    margin-top:75px;
}

.social_icons ul {
    display: inline-block;
    margin: 0px; 
    padding: 0px;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}

.social_icons li {
    float:left;
    padding: 0 7px;
    list-style:none;        
}

.social_icons li a span{
    font-size: 15px;
    color:#373883;
}

.social_icons li a:hover {
    text-decoration:none;         
}

/*##################################################################*/
/* FOOTER #########################################################*/
/*##################################################################*/

#footer {
    background-color:#D1D1D1;
    padding-top:38px;
    padding-bottom:38px;
    border-top: 1px solid #3e3e3e;
}
#footer p {
    color:#3E3E3E;
    margin:0px;
    padding:0px;
}

#footer p > a {
	color: #FFF;
	text-decoration: underline;
	line-height: 1.9em;
	cursor: pointer;
}

#footer .split-col {
	text-align: center;
}

#footer .split-col:first-child {
	border-right: 1px solid #FFF;
}
